{% extends 'base_admin.html' %}
{% block page_title %}Pick Up Schedule{% endblock %}

{% block content %}
{% load static %}

<style>
    .table-card {
        border-radius: 0 0 12px 12px;
        background-color: #ffffff;
        padding: 10px;
        border: 1px solid #e0e0e0;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        height: 60vh; 
        overflow-y: auto;
    }

    .img-pet {
        width: 50px; 
        height: 50px; 
        object-fit: cover; 
        margin-right: 10px;
        border-radius: 14px;
    }

    .navtab {
        color: #FF6F61 ;
    }

    ul.nav-tabs .nav-link {
        color: #616161 !important; 
    }

    ul.nav-tabs .nav-link.active {
        color: #ff5733 !important; 
        font-weight: 700;
    }   

    .btn-color{
        background-color: #FF6F61 ;
        color: #ffffff;
    }

    .form-check-input {
        width: 6.25rem; 
        height: 1.25rem;
        margin-top: 0.2rem; 
    }

    .badge{
        background-color: #FF6E00 ;
    }
    a {
        color: #FF6F61;
        text-decoration: none; /* Removes underline */
    }

    a:hover {
        color: #df2588; /* Changes color on hover */
        text-decoration: none; /* Ensures no underline on hover */
    }
  /*Search Styling*/
    .search-bar .input-group-text {
        background-color: transparent;
        border-right: none;
        cursor: pointer;
    }

    .search-bar .input-group-text i {
        color: #FF6F61; 
    }

    .container-fluid {
        padding-top: 20px;
    }
   /*Sort and Filter Styling*/
   .form-check-available {
        width: 6.25rem; 
        height: 1.25rem;
        margin-top: 0.2rem; 
    }

    .container-fluid {
        padding-top: 20px;
    }

    .filter-sort-buttons {
        display: flex;
        gap: 20px;
    }

    .filter-sort-buttons a {
        cursor: pointer;
    }

    .filter-sort-dropdown {
        position: relative;
    }

    .filter-sort-dropdown .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        width: 350px;
        z-index: 1050;
        height: 250px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .dropdown-item:hover {
        background-color: #f8f9fa;
    }

    .inline-fields input {
        width: 45%;
    }

    .divider {
        border-bottom: 1px solid #e0e0e0;
        margin: 10px 0;
    }

    .radio-group {
        display: flex;
        flex-direction: column;
    }

    .radio-group label {
        margin-bottom: 5px;
    }

    .form-control-sm {
        font-size: 0.9rem;
    }

    .reset-button {
        color: #FF6F61;
        width: 100px;
        padding: 5px 10px 5px 10px;
        border: 1px solid #FF6F61;
        border-radius: 5px;
        text-decoration: none; 
    }

    a:hover{ 
        text-decoration: none; 
        border: 1px solid #999;
        color: #999;
    }

    .apply-btn {
        background-color: #FF6F61;
        color: white;
        width: 80px;
        padding: 5px;
        border: 0px;
        border-radius: 5px;
    }

    .dropdown-item:hover {
        background-color: #f8f9fa;
    }

    .inline-fields {
        display: flex;
        gap: 10px;
    }

    .inline-fields input {
        width: 45%;
    }

    .form-group input[type="radio"]{
        cursor: pointer;
    }

    .form-group-label {
        color:#999;
    }

    .form-check-label {
        margin-bottom: 10px;    
        font-weight: 500;
        cursor: pointer;
    }

    .form-check {
        padding-left: 20%;
        padding-top: 2%;
        cursor: pointer;
    }

    .form-check:hover{
        background-color: #e4dfdc;
        border-radius: 5px;
    }

    .field-group {
        display: flex;
        flex-direction: column; 
    }

    .field-group label{
       font-size: small;
       font-weight: 500;
       margin-bottom: 1px;
    }

    .radio-group input[type="radio"]:checked {
        background-color: #FF6F61;
        border-color: #f8f9fa;
    }

</style>

<div class="d-flex mb-0" style="justify-content: flex-end;">
    <form method="GET" action="{% url 'admin_pickup' %}" class="form-inline search-bar">
        <div class="input-group w-80">
            <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-search"></i></span>
            </div>
            <input type="text" name="q" class="form-control form-control-sm" placeholder="Search a pet" value="{{ query }}">
        </div>
    </form>

    <div class="filter-sort-dropdown mr-1 radio-group">
        <a class="btn btn-light dropdown-toggle" id="dropdownMenuClickableInside" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
            <i class="fas fa-sort"></i> Sort
        </a>
        <div class="dropdown-menu p-3">
            <form method="GET" action="{% url 'admin_pickup' %}">
                <!-- Hidden inputs to preserve existing filter values -->
                <input type="hidden" name="query" value="{{ query }}">
                <input type="hidden" name="pet_type" value="{{ pet_type }}">
                <input type="hidden" name="gender" value="{{ gender }}">
                <input type="hidden" name="age" value="{{ age }}">
                <input type="hidden" name="adoption_fee_min" value="{{ adoption_fee_min }}">
                <input type="hidden" name="adoption_fee_max" value="{{ adoption_fee_max }}">
                <input type="hidden" name="time_in_shelter_min" value="{{ time_in_shelter_min }}">
                <input type="hidden" name="time_in_shelter_max" value="{{ time_in_shelter_max }}">

                 <!-- Sort Header -->
                <div class="d-flex align-items-center">
                    <i class="fas fa-sort me-3"></i>
                    <h5 class="mb-0">Sort</h5>
                </div>
                <div class="divider"></div>
                <!-- ID Sort -->
                <div class="form-group">
                    <label class="form-group-label" for="sort_by_id">Sort by ID</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="sort_by_id_asc" name="sort_by_id" value="asc" {% if sort_by_id == 'asc' %}checked{% endif %}>
                        <label class="form-check-label" for="sort_by_id_asc">Ascending</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="sort_by_id_desc" name="sort_by_id" value="desc" {% if sort_by_id == 'desc' %}checked{% endif %}>
                        <label class="form-check-label" for="sort_by_id_desc">Descending</label>
                    </div>
                </div>
                <div class="divider"></div>

                <!-- Apply Button and Reset Button -->
                <button type="submit" class="apply-btn">Apply</button>
                <a href="?reset_sort=true&q={{ query }}" class="reset-button">Reset</a>
            </form>
        </div>
    </div>
    
    <div style="margin-left: 5px;">
    <!-- Export to Excel Button -->
    <a href="{% url 'export_pickup_to_excel' %}?status={{ status }}&pet_type={{ pet_type }}&sort_by={{ sort_by }}" 
        class="btn btn-success" title="Export to Excel">
        <i class="fas fa-download"></i> 
    </a>
    </div>
</div>

<div class="container-fluid">

    <!-- Tabs -->
    <ul class="nav nav-tabs navtab">
        <li class="nav-item">
            <a class="nav-link {% if status == 'upcoming' %}active{% endif %}" href="?status=upcoming">Upcoming</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if status == 'completed' %}active{% endif %}" href="?status=completed">Completed</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if status == 'cancelled' %}active{% endif %}" href="?status=cancelled">Cancelled</a>
        </li>
    </ul>

    <div class="card table-card shadow-lg p-4">
    <div class="tab-content mt-3">

        <!-- Upcoming Pets -->
        <div id="upcoming" class="tab-pane fade {% if status == 'upcoming' %}show active{% endif %}">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Pet</th>
                            <th>Species</th>
                            <th>Adopter</th>
                            <th>Date</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pet in pets %}
                        <tr>
                            <td>{{ pet.id }}</td>
                            <td>
                                {% if pet.main_image %}
                                    <img src="{{ pet.main_image.url }}" alt="Pet Image" class="img-pet">
                                {% else %}
                                    <img src="{% static 'images/default_image.jpg' %}" alt="No Image Available" class="img-pet">
                                {% endif %}
                                {{ pet.name }}
                            </td>
                            <td>{{ pet.pet_type|capfirst }}</td>
                            {% for adoption in pet.adoption_set.all %}
                            <td>
                                {{ adoption.first_name }} {{ adoption.last_name }}
                            </td>
                            {% for schedule in pet.schedule_set.all %}
                            <td>
                                {{ schedule.month }} {{ schedule.day }}, {{ schedule.year }}
                            </td>
                            {% endfor %}
                            <td><span class="badge badge-success">Upcoming</span></td>
                            <td>
                                <form method="post" style="display:inline;">
                                    {% csrf_token %}
                                    <input type="hidden" name="pet_id" value="{{ pet.id }}">
                                    <input type="hidden" name="action" value="mark_completed">
                                    <button type="submit" class="btn btn-success btn-sm">
                                        Pick-Up Complete
                                    </button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Completed Pets -->
        <div id="completed" class="tab-pane fade {% if status == 'completed' %}show active{% endif %}">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Pet</th>
                            <th>Species</th>
                            <th>Adopter</th>
                            <th>Date</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pet in pets %}
                        <tr>
                            <td>{{ pet.id }}</td>
                            <td>
                                {% if pet.main_image %}
                                    <img src="{{ pet.main_image.url }}" alt="Pet Image" class="img-pet">
                                {% else %}
                                    <img src="{% static 'images/default_image.jpg' %}" alt="No Image Available" class="img-pet">
                                {% endif %}
                                {{ pet.name }}
                            </td>
                            <td>{{ pet.pet_type|capfirst }}</td>
                            {% for adoption in pet.adoption_set.all %}
                            <td>
                                {{ adoption.first_name }} {{ adoption.last_name }}
                            </td>
                            {% for schedule in pet.schedule_set.all %}
                            <td>
                                {{ schedule.month }} {{ schedule.day }}, {{ schedule.year }}
                            </td>
                            {% endfor %}
                            <td><span class="badge badge-success" style="background-color: #1EBE91;">Adopted</span></td>
                        </tr>
                        {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Cancelled Pets -->
        <div id="cancelled" class="tab-pane fade {% if status == 'cancelled' %}show active{% endif %}">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Pet</th>
                            <th>Species</th>
                            <th>Adopter</th>
                            <th>Date</th>
                            <th>Status</th>
                            <th>Reason</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pet in pets %}
                        <tr>
                            <td>{{ pet.id }}</td>
                            <td>
                                {% if pet.main_image %}
                                    <img src="{{ pet.main_image.url }}" alt="Pet Image" class="img-pet">
                                {% else %}
                                    <img src="{% static 'images/default_image.jpg' %}" alt="No Image Available" class="img-pet">
                                {% endif %}
                                {{ pet.name }}
                            </td>
                            <td>{{ pet.pet_type|capfirst }}</td>
                            <td>
                                {% for adoption in pet.adoption_set.all %}
                                    {{ adoption.first_name }} {{ adoption.last_name }}
                                {% endfor %}
                            </td>
                            <td>
                                {% for schedule in pet.schedule_set.all %}
                                    {{ schedule.month }} {{ schedule.day }}, {{ schedule.year }}
                                {% endfor %}
                            </td>
                            <td><span class="badge badge-danger" style="background-color: #B3261E">Cancelled</span></td>
                            <td>
                                {% if pet.cancellation_reason %}
                                    {{ pet.cancellation_reason }}
                                {% else %}
                                    N/A
                                {% endif %}
                            </td>
                            <td>
                                <form method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="action" value="add_to_list">
                                    <input type="hidden" name="pet_id" value="{{ pet.id }}">
                                    <button type="submit" class="btn btn-sm" style="font-weight: 500; color:white; background-color: #FF6F61; border-radius: 6px;">
                                        Add to List
                                    </button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    </div>
</div>

{% endblock %}