{% extends 'base_admin.html' %}
{% block page_title %} Pet Management {% endblock %}

{% block content %}
{% load static %}
<style>
    .table-card {
        border-radius: 0 0 12px 12px;
        background-color: #ffffff;
        padding: 10px;
        border: 1px solid #e0e0e0;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        height: 60vh; 
        overflow-y: auto;
    }

    .img-pet {
        width: 50px; 
        height: 50px; 
        object-fit: cover; 
        margin-right: 10px;
        border-radius: 14px;
    }

    .navtab {
        color: #FF6F61 ;
    }

    ul.nav-tabs .nav-link {
        color: #616161 !important; 
    }

    ul.nav-tabs .nav-link.active {
        color: #ff5733 !important; 
        font-weight: 700;
    }   

    .btn-color{
        background-color: #FF6F61 ;
        color: #ffffff;
    }

    /*Search Styling*/
    .search-bar .input-group-text {
        background-color: transparent;
        border-right: none;
        cursor: pointer;
    }

    .search-bar .input-group-text i {
        color: #FF6F61; 
    }

    /*Sort and Filter Styling*/
    .form-check-available {
        width: 6.25rem; 
        height: 1.25rem;
        margin-top: 0.2rem; 
    }

    .container-fluid {
        padding-top: 20px;
    }

    .filter-sort-buttons {
        display: flex;
        gap: 20px;
    }

    .filter-sort-buttons a {
        cursor: pointer;
    }

    .filter-sort-dropdown {
        position: relative;
    }

    .filter-sort-dropdown .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        width: 350px;
        z-index: 1050;
        height: 500px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .dropdown-item:hover {
        background-color: #f8f9fa;
    }

    .inline-fields input {
        width: 45%;
    }

    .divider {
        border-bottom: 1px solid #e0e0e0;
        margin: 10px 0;
    }

    .radio-group {
        display: flex;
        flex-direction: column;
    }

    .radio-group label {
        margin-bottom: 5px;
    }

    .form-control-sm {
        font-size: 0.9rem;
    }

    .reset-button {
        color: #FF6F61;
        width: 100px;
        padding: 5px 10px 5px 10px;
        border: 1px solid #FF6F61;
        border-radius: 5px;
        text-decoration: none; 
    }

    a:hover{ 
        text-decoration: none; 
        border: 1px solid #999;
        color: #999;
    }

    .apply-btn {
        background-color: #FF6F61;
        color: white;
        width: 80px;
        padding: 5px;
        border: 0px;
        border-radius: 5px;
    }

    .dropdown-item:hover {
        background-color: #f8f9fa;
    }

    .inline-fields {
        display: flex;
        gap: 10px;
    }

    .inline-fields input {
        width: 45%;
    }

    .form-group input[type="radio"]{
        cursor: pointer;
    }

    .form-group-label {
        color:#999;
    }

    .form-check-label {
        margin-bottom: 10px;    
        font-weight: 500;
        cursor: pointer;
    }

    .form-check {
        padding-left: 20%;
        padding-top: 2%;
        cursor: pointer;
    }

    .form-check:hover{
        background-color: #e4dfdc;
        border-radius: 5px;
    }

    .field-group {
        display: flex;
        flex-direction: column; 
    }

    .field-group label{
       font-size: small;
       font-weight: 500;
       margin-bottom: 1px;
    }

    .radio-group input[type="radio"]:checked {
        background-color: #FF6F61;
        border-color: #f8f9fa;
    }

    /* Style for Image Display and Deletion */
    .image-container {
        display: inline-block;
        position: relative;
        margin-right: 10px;
    }

    .image-container img {
        border-radius: 10px;
        max-height: 100px;
        margin-bottom: 5px;
    }

    .remove-image-btn {
        position: absolute;
        top: 0;
        right: 0;
        background-color: red;
        color: white;
        border-radius: 50%;
        padding: 0 6px;
        border: 1px solid white;
        cursor: pointer;
    }

    .remove-image-btn:hover {
        background-color: darkred;
    }

    #pet_images:disabled {
        background-color: #e0e0e0;
        cursor: not-allowed;
    }

</style>

<div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center mb-5">
        <button class="btn btn-color mr-2" data-toggle="modal" data-target="#addPetModal">
            <i class="fas fa-plus"></i> Add new pet
        </button>

         <!-- Add Pet Modal -->
         <div class="modal fade" id="addPetModal" tabindex="-1" role="dialog" aria-labelledby="addPetModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addPetModalLabel">Add Pet</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="{% url 'admin_add_pet' %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}

                            <div class="form-group">
                                <label for="pet_name">Pet Name</label>
                                <input type="text" name="name" class="form-control" id="pet_name" required>
                                {% if pet_form.name.errors %}
                                    <p class="text-danger">{{ pet_form.name.errors }}</p>
                                {% endif %}
                            </div>

                            <div class="form-group">
                                <label for="pet_age">Age</label>
                                <input type="number" name="age" class="form-control" id="pet_age" min="0" required>
                            </div>

                            <div class="form-group">
                                <label for="pet_gender">Gender</label>
                                <select name="gender" class="form-select form-select-sm" id="pet_gender" required>
                                    <option value="">Select Gender</option>
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                    <option value="none">None</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="pet_breed">Breed</label>
                                <input type="text" name="breed" class="form-control" id="pet_breed" required>
                            </div>
                            <div class="form-group">
                                <label for="pet_type">Type of Species</label>
                                <select name="pet_type" class="form-select form-select-sm" id="pet_type" required>
                                    <option value="">Select Species</option>
                                    {% for type, label in pet_type_choices %}
                                        <option value="{{ type }}">{{ label }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="description">Description</label>
                                <textarea name="description" class="form-control" id="description" rows="3"></textarea>
                            </div>

                            <div class="form-group">
                                <label for="adoption_fee">Adoption Fee (₱)</label>
                                <input type="number" name="adoption_fee" class="form-control" id="adoption_fee" step="0.01" required>
                            </div>

                            <div class="form-group">
                                <label for="is_available">Status</label>
                                <select name="is_available" class="form-select form-select-sm" id="is_available" required>
                                    <option value="">Select Status</option>
                                    <option value="True">Available</option>
                                    <option value="False">Adopted</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="time_in_shelter">Time in Shelter</label>
                                <input type="date" name="time_in_shelter" class="form-control" id="time_in_shelter" required max="{{ today }}">
                            </div>
                            
                            <div class="form-group">
                                <label for="pet_images">Upload Images</label>
                                <input type="file" name="images" id="pet_images" class="form-control" accept="image/*" multiple>
                                <small class="form-text text-muted">Maximum of 5 images allowed.</small>
                            </div>
        
                            <div class="modal-footer">
                                <a href="{% url 'admin_pet_list' %}" class="btn btn-secondary">Cancel</a>
                                <button type="submit" class="btn btn-color">Add</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Update Pet Modal -->
        {% for pet in pets %}   
        <div class="modal fade" id="updatePetModal{{ pet.id }}" tabindex="-1" role="dialog" aria-labelledby="updatePetModalLabel{{ pet.id }}" aria-hidden="true " data-pet-id="{{ pet.id }}">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="updatePetModalLabel{{ pet.id }}">Update Pet</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="{% url 'admin_edit_pet' pet.id %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}

                            <input type="hidden" name="delete_image_ids" id="delete_image_ids_{{ pet.id }}" value="">

                            <div class="form-group">
                                <label for="pet_name">Pet Name</label>
                                <input type="text" name="name" class="form-control" id="pet_name_{{ pet.id }}" value="{{ pet.name }}" required>
                            </div>

                            <div class="form-group">
                                <label for="pet_age">Age</label>
                                <input type="number" name="age" class="form-control" id="pet_age_{{ pet.id }}" value="{{ pet.age }}" min="0" required>
                            </div>

                            <div class="form-group">
                                <label for="pet_gender">Gender</label>
                                <select name="gender" class="form-select form-select-sm" id="pet_gender_{{ pet.id }}" required>
                                    <option value="">Select Gender</option>
                                    <option value="male" {% if pet.gender == 'male' %} selected {% endif %}>Male</option>
                                    <option value="female" {% if pet.gender == 'female' %} selected {% endif %}>Female</option>
                                    <option value="none" {% if pet.gender == 'none' %} selected {% endif %}>None</option>
                                </select>                        
                            </div>

                            <div class="form-group">
                                <label for="pet_breed">Breed</label>
                                <input type="text" name="breed" class="form-control" id="pet_breed_{{ pet.id }}" value="{{ pet.breed }}" required>
                            </div>

                            <div class="form-group">
                                <label for="pet_type">Type of Species</label>
                                <select name="pet_type" class="form-select form-select-sm" id="pet_type_{{ pet.id }}" required>
                                    <option value="">Select Species</option>
                                    {% for type, label in pet.PET_TYPE_CHOICES %}
                                        <option value="{{ type }}" {% if pet.pet_type == type %}selected{% endif %}>{{ label }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="description">Description</label>
                                <textarea name="description" class="form-control" id="description" rows="3">{{ pet.description }}</textarea>
                            </div>

                            <div class="form-group">
                                <label for="adoption_fee">Adoption Fee (₱)</label>
                                <input type="number" name="adoption_fee" class="form-control" id="adoption_fee" value="{{ pet.adoption_fee }}" step="0.01" required>
                            </div>

                            <div class="form-group">
                                <label for="is_available">Status</label>
                                <select name="is_available" class="form-select form-select-sm" id="is_available" value="{{ pet.is_available }}" required>
                                    <option value="">Select Status</option>
                                    <option value="True" {% if pet.is_available %}selected{% endif %}>Available</option>
                                    <option value="False" {% if not pet.is_available %}selected{% endif %}>Adopted</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="time_in_shelter">Time in Shelter</label>
                                <input type="date" name="time_in_shelter" class="form-control" id="time_in_shelter" value="{{ pet.time_in_shelter|date:'Y-m-d' }}" required max="{{ today }}">
                            </div>
                            
                            <div class="form-group">
                                <label for="pet_images">Upload Images</label>
                                <input type="file" name="images" id="pet_images" class="form-control" accept="image/*" multiple 
                                       {% if pet.images.count >= 5 %} disabled {% endif %}>
                                <small class="form-text text-muted">Maximum of 5 images allowed.</small>
                            </div>

                            <div class="form-group">
                                <label>Existing Images:</label>
                                <div id="existing-images">
                                    {% for image in pet.images.all|slice:":5" %}
                                        <div class="image-container" data-image-id="{{ image.id }}">
                                            <img src="{{ image.image.url }}" alt="Pet Image" class="img-thumbnail" style="max-width: 100px;">
                                            <button type="button" class="remove-image-btn" data-image-id="{{ image.id }}">X</button>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div> 
        
                            <div class="modal-footer">
                                <a href="#" class="btn btn-secondary btn-cancel" data-dismiss="modal" aria-label="Close">Cancel</a>
                                <button type="submit" class="btn btn-color btn-update">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

        <div class="d-flex mb-0">
            <form method="GET" action="{% url 'admin_pet_list' %}" class="form-inline search-bar">
                <div class="input-group w-80">
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fas fa-search"></i></span>
                    </div>
                    <input type="text" name="q" class="form-control form-control-sm" placeholder="Search a pet" value="{{ query }}">
                </div>
            </form>

             <!-- Filter Dropdown -->
            <div class="filter-sort-dropdown mr-1 radio-group">
                <a class="btn btn-light dropdown-toggle" id="dropdownMenuClickableInside" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                    <i class="fas fa-filter"></i> Filter
                </a>
                <div class="dropdown-menu p-3">
                    <!-- Filter Header -->
                    <div class="d-flex align-items-center">
                        <i class="fas fa-filter me-3"></i>
                        <h5 class="mb-0">Filter</h5>
                    </div>
                    
                    <div class="divider"></div>
                    <form method="GET" action="{% url 'admin_pet_list' %}">
                        <!-- Hidden inputs to preserve existing filter values -->
                        <input type="hidden" name="sort_by_id" value="{{ sort_by_id }}">
                        <input type="hidden" name="sort_by_name" value="{{ sort_by_name }}">
                        <input type="hidden" name="sort_by_age" value="{{ sort_by_age }}">
                        <input type="hidden" name="sort_by_time_in_shelter" value="{{ sort_by_time_in_shelter }}">
                        <input type="hidden" name="sort_by_adoption_fee" value="{{ sort_by_adoption_fee }}">

                        <!-- Species Filter -->
                        <div class="form-group">
                            <label class="form-group-label" for="pet_type">Species</label>
                            <select name="pet_type" id="pet_type" class="form-select form-select-sm">
                                <option value="">Select Species</option>
                                <option value="dog" {% if pet_type == 'dog' %}selected{% endif %}>Dog</option>
                                <option value="cat" {% if pet_type == 'cat' %}selected{% endif %}>Cat</option>
                                <option value="fish" {% if pet_type == 'fish' %}selected{% endif %}>Fish</option>
                                <option value="bird" {% if pet_type == 'bird' %}selected{% endif %}>Bird</option>
                                <option value="hamster" {% if pet_type == 'hamster' %}selected{% endif %}>Hamster</option>
                                <option value="rabbit" {% if pet_type == 'rabbit' %}selected{% endif %}>Rabbit</option>
                                <option value="guinea_pig" {% if pet_type == 'guinea_pig' %}selected{% endif %}>Guinea Pig</option>
                                <option value="turtle" {% if pet_type == 'turtle' %}selected{% endif %}>Turtle</option>
                                <option value="lizard" {% if pet_type == 'lizard' %}selected{% endif %}>Lizard</option>
                                <option value="snake" {% if pet_type == 'snake' %}selected{% endif %}>Snake</option>
                                <option value="frog" {% if pet_type == 'frog' %}selected{% endif %}>Frog</option>
                                <option value="parrot" {% if pet_type == 'parrot' %}selected{% endif %}>Parrot</option>
                                <option value="chinchilla" {% if pet_type == 'chinchilla' %}selected{% endif %}>Chinchilla</option>
                                <option value="ferret" {% if pet_type == 'ferret' %}selected{% endif %}>Ferret</option>
                                <option value="hedgehog" {% if pet_type == 'hedgehog' %}selected{% endif %}>Hedgehog</option>
                                <option value="horse" {% if pet_type == 'horse' %}selected{% endif %}>Horse</option>
                                <option value="goat" {% if pet_type == 'goat' %}selected{% endif %}>Goat</option>
                            </select>
                        </div>
                        <!-- Gender Filter -->
                        <div class="divider"></div>
                        <div class="form-group">
                            <label class="form-group-label" for="gender">Gender</label>
                            <select name="gender" id="gender" class="form-select form-select-sm">
                                <option value="">All Genders</option>
                                <option value="male" {% if gender == 'male' %}selected{% endif %}>Male</option>
                                <option value="female" {% if gender == 'female' %}selected{% endif %}>Female</option>
                                <option value="none" {% if gender == 'none' %}selected{% endif %}>None</option>
                            </select>
                        </div>
                        <!-- Age Filter -->
                        <div class="divider"></div>
                        <div class="form-group">
                            <label class="form-group-label" for="age">Age</label>
                            <input type="number" name="age" id="age" class="form-control form-control-sm" value="{{ request.GET.age }}">
                        </div>
                        <!-- Adoption Fee Filter -->
                        <div class="divider"></div>
                        <div class="form-group">
                            <label class="form-group-label" for="adoption_fee">Adoption Fee (₱)</label>
                            <div class="inline-fields">
                                <input type="number" name="adoption_fee_min" class="form-control form-control-sm" placeholder="Min" value="{{ request.GET.adoption_fee_min }}"> -
                                <input type="number" name="adoption_fee_max" class="form-control form-control-sm" placeholder="Max" value="{{ request.GET.adoption_fee_max }}">
                            </div>
                        </div>
                        <!-- Time in Shelter Filter -->
                        <div class="divider"></div>
                        <div class="form-group">
                            <label class="form-group-label" for="time_in_shelter">Time in Shelter</label>
                            <div class="inline-fields">
                                <div class="field-group">
                                    <label for="time_in_shelter_min">From:</label>
                                    <input type="date" name="time_in_shelter_min" class="form-control form-control-sm w-100" value="{{ request.GET.time_in_shelter_min }}" max="{{ today }}">
                                </div>
                                <div class="field-group">
                                    <label for="time_in_shelter_max">To:</label>
                                    <input type="date" name="time_in_shelter_max" class="form-control form-control-sm w-100" value="{{ request.GET.time_in_shelter_max }}" max="{{ today }}">
                                </div>
                            </div>
                        </div>
                        <div class="divider"></div>                   
                        <button type="submit" class="apply-btn">Apply</button>
                        <a href="?reset_filter=true&sort_by_id={{ sort_by_id }}&sort_by_name={{ sort_by_name }}&sort_by_age={{ sort_by_age }}&sort_by_time_in_shelter={{ sort_by_time_in_shelter }}&sort_by_adoption_fee={{ sort_by_adoption_fee }}" class="reset-button">Reset</a>
                    </form>
                </div>
            </div>
    
            <!-- Sort Dropdown -->
            <div class="filter-sort-dropdown mr-1 radio-group">
                <a class="btn btn-light dropdown-toggle" id="dropdownMenuClickableInside" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                    <i class="fas fa-sort"></i> Sort
                </a>
                <div class="dropdown-menu p-3">
                    <form method="GET" action="{% url 'admin_pet_list' %}">
                        <!-- Hidden inputs to preserve existing filter values -->
                        <input type="hidden" name="query" value="{{ query }}">
                        <input type="hidden" name="pet_type" value="{{ pet_type }}">
                        <input type="hidden" name="gender" value="{{ gender }}">
                        <input type="hidden" name="age" value="{{ age }}">
                        <input type="hidden" name="adoption_fee_min" value="{{ adoption_fee_min }}">
                        <input type="hidden" name="adoption_fee_max" value="{{ adoption_fee_max }}">
                        <input type="hidden" name="time_in_shelter_min" value="{{ time_in_shelter_min }}">
                        <input type="hidden" name="time_in_shelter_max" value="{{ time_in_shelter_max }}">

                         <!-- Sort Header -->
                        <div class="d-flex align-items-center">
                            <i class="fas fa-sort me-3"></i>
                            <h5 class="mb-0">Sort</h5>
                        </div>
                        <div class="divider"></div>
                        <!-- ID Sort -->
                        <div class="form-group">
                            <label class="form-group-label" for="sort_by_id">Sort by ID</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" id="sort_by_id_asc" name="sort_by_id" value="asc" {% if sort_by_id == 'asc' %}checked{% endif %}>
                                <label class="form-check-label" for="sort_by_id_asc">Ascending</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" id="sort_by_id_desc" name="sort_by_id" value="desc" {% if sort_by_id == 'desc' %}checked{% endif %}>
                                <label class="form-check-label" for="sort_by_id_desc">Descending</label>
                            </div>
                        </div>
                        <div class="divider"></div>

                        <!-- Name Sort -->
                        <div class="form-group">
                            <label class="form-group-label" for="sort_by_name">Sort by Name</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" id="sort_by_name_asc" name="sort_by_name" value="asc" {% if sort_by_name == 'asc' %}checked{% endif %}>
                                <label class="form-check-label" for="sort_by_name_asc">A-Z</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" id="sort_by_name_desc" name="sort_by_name" value="desc" {% if sort_by_name == 'desc' %}checked{% endif %}>
                                <label class="form-check-label" for="sort_by_name_desc">Z-A</label>
                            </div>
                        </div>
                        <div class="divider"></div>

                        <!-- Age Sort -->
                        <div class="form-group">
                            <label class="form-group-label" for="sort_by_age">Sort by Age</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" id="sort_by_age_asc" name="sort_by_age" value="asc" {% if sort_by_age == 'asc' %}checked{% endif %}>
                                <label class="form-check-label" for="sort_by_age_asc">Ascending</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" id="sort_by_age_desc" name="sort_by_age" value="desc" {% if sort_by_age == 'desc' %}checked{% endif %}>
                                <label class="form-check-label" for="sort_by_age_desc">Descending</label>
                            </div>
                        </div>
                        <div class="divider"></div>

                        <!-- Time in Shelter Sort -->
                        <div class="form-group">
                            <label class="form-group-label" for="sort_by_time_in_shelter">Sort by Time in Shelter</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" id="sort_by_time_in_shelter_asc" name="sort_by_time_in_shelter" value="asc" {% if sort_by_time_in_shelter == 'asc' %}checked{% endif %}>
                                <label class="form-check-label" for="sort_by_time_in_shelter_asc">Ascending</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" id="sort_by_time_in_shelter_desc" name="sort_by_time_in_shelter" value="desc" {% if sort_by_time_in_shelter == 'desc' %}checked{% endif %}>
                                <label class="form-check-label" for="sort_by_time_in_shelter_desc">Descending</label>
                            </div>
                        </div>
                        <div class="divider"></div>

                        <!-- Adoption Fee Sort -->
                        <div class="form-group">
                            <label class="form-group-label" for="sort_by_adoption_fee">Sort by Adoption Fee</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" id="sort_by_adoption_fee_asc" name="sort_by_adoption_fee" value="asc" {% if sort_by_adoption_fee == 'asc' %}checked{% endif %}>
                                <label class="form-check-label" for="sort_by_adoption_fee_asc">Ascending</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" id="sort_by_adoption_fee_desc" name="sort_by_adoption_fee" value="desc" {% if sort_by_adoption_fee == 'desc' %}checked{% endif %}>
                                <label class="form-check-label" for="sort_by_adoption_fee_desc">Descending</label>
                            </div>
                        </div>

                        <div class="divider"></div>

                        <!-- Apply Button and Reset Button -->
                        <button type="submit" class="apply-btn">Apply</button>
                        <a href="?reset_sort=true&q={{ query }}&pet_type={{ pet_type }}&gender={{ gender }}&age={{ age }}&adoption_fee_min={{ adoption_fee_min }}&adoption_fee_max={{ adoption_fee_max }}&time_in_shelter_min={{ time_in_shelter_min }}&time_in_shelter_max={{ time_in_shelter_max }}" class="reset-button">Reset</a>
                    </form>
                </div>
            </div>

            <!-- Export to Excel Button -->
            <a href="{% url 'export_pets_to_excel' %}" class="btn btn-success" title="Export to Excel">
                <i class="fas fa-download"></i>
            </a>
        </div>
    </div> 

    <!-- Tabs -->
    <ul class="nav nav-tabs navtab">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#available">Available</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#adopted">Adopted</a>
        </li>
    </ul>

    <div class="card table-card shadow-lg p-4">
    <div class="tab-content mt-3">
        <!-- Available Pets -->
        <div id="available" class="tab-pane fade show active">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Pet</th>
                            <th>Species</th>
                            <th>Breed</th>
                            <th>Age</th>
                            <th>Gender</th>
                            <th>Adoption Fee</th>
                            <th>Time in Shelter</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pet in pets %}
                        {% if pet.is_available %}
                        <tr>
                            <td>{{ pet.id }}</td>
                            <td>
                                {% if pet.main_image %}
                                    <img src="{{ pet.main_image.url }}" alt="Pet Image" class="img-pet">
                                {% else %}
                                    <img src="{% static 'images/default_image.jpg' %}" alt="No Image Available" class="img-pet">
                                {% endif %}
                                {{ pet.name }}
                            </td>
                            
                            <td>{{ pet.pet_type|capfirst }}</td>
                            <td>{{ pet.breed }}</td>
                            <td>{{ pet.age }}</td>
                            <td>{{ pet.gender|capfirst }}</td>
                            <td>₱{{ pet.adoption_fee }}</td>
                            <td>{{ pet.time_in_shelter }}</td>
                            <td><span class="badge badge-success">Available</span></td>
                            <td>
                                <a href="{% url 'admin_view_pet' pet.id %}" class="text-secondary"><i class="fas fa-eye"></i></a>
                                <a href="#" class="text-secondary" data-toggle="modal" data-target="#updatePetModal{{ pet.id }}">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a href="{% url 'admin_delete_pet' pet.id %}" class="text-secondary"><i class="fas fa-trash"></i></a>
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Adopted Pets -->
        <div id="adopted" class="tab-pane fade">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Pet</th>
                            <th>Species</th>
                            <th>Breed</th>
                            <th>Age</th>
                            <th>Gender</th>
                            <th>Adoption Fee</th>
                            <th>Time in Shelter</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pet in pets %}
                        {% if pet.is_adopted %}
                        <tr>
                            <td>{{ pet.id }}</td>
                            <td>
                                {% if pet.main_image %}
                                    <img src="{{ pet.main_image.url }}" alt="Pet Image" class="img-pet">
                                {% else %}
                                    <img src="{% static 'images/default_image.jpg' %}" alt="No Image Available" class="img-pet">
                                {% endif %}
                                {{ pet.name }}
                            </td>
                            
                            <td>{{ pet.pet_type|capfirst }}</td>
                            <td>{{ pet.breed }}</td>
                            <td>{{ pet.age }}</td>
                            <td>{{ pet.gender|capfirst }}</td>
                            <td>₱{{ pet.adoption_fee }}</td>
                            <td>{{ pet.time_in_shelter }}</td>
                            <td><span class="badge badge-secondary">Adopted</span></td>
                            <td>
                                <a href="{% url 'admin_view_pet' pet.id %}" class="text-secondary"><i class="fas fa-eye"></i></a>
                                <a href="#" class="text-secondary" data-toggle="modal" data-target="#updatePetModal{{ pet.id }}">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a href="{% url 'admin_delete_pet' pet.id %}" class="text-secondary"><i class="fas fa-trash"></i></a>
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
</div>
<script>
    const today = new Date().toISOString().split('T')[0];
    document.getElementById('time_in_shelter').setAttribute('max', today);
</script>

<script>
document.addEventListener('DOMContentLoaded', () => {
    const deleteQueue = new Map();

    // Handle image removal
    document.querySelectorAll('.remove-image-btn').forEach(button =>
        button.addEventListener('click', () => {
            const modal = button.closest('.modal');
            const petId = modal.dataset.petId;
            const imageId = button.dataset.imageId;
            const imageContainer = button.closest('.image-container');
            const uploadButton = modal.querySelector('#pet_images');
            const existingImages = modal.querySelector('#existing-images');

            deleteQueue.set(petId, (deleteQueue.get(petId) || new Set()).add(imageId));
            imageContainer.remove();

            if (existingImages.children.length < 5) uploadButton.disabled = false;
        })
    );

    // Handle update
    document.querySelectorAll('.btn-update').forEach(button =>
        button.addEventListener('click', (e) => {
            const modal = button.closest('.modal');
            const petId = modal.dataset.petId;
            const existingImages = modal.querySelector('#existing-images');
            const imagesToDelete = Array.from(deleteQueue.get(petId) || []);

            if (existingImages.children.length < 1) {
                e.preventDefault();
                modal.querySelector('form').append(createHiddenInput('validation_error', 'At least one image must remain.'));
                modal.querySelector('form').submit();
                return;
            }

            if (imagesToDelete.length) {
                fetch("{% url 'delete_pet_image' %}", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value,
                    },
                    body: JSON.stringify({ image_ids: imagesToDelete })
                })
                .then(res => res.json())
                .then(data => {
                    if (data.success) {
                        deleteQueue.delete(petId);
                        console.log("Images deleted successfully.");
                    } else {
                        throw new Error(data.error || 'Unknown error.');
                    }
                })
                .catch(error => {
                    modal.querySelector('form').append(createHiddenInput('validation_error', `Error deleting images: ${error.message}`));
                    modal.querySelector('form').submit();
                });
            }
        })
    );

    // Handle cancel
    document.querySelectorAll('.btn-cancel').forEach(button =>
        button.addEventListener('click', () => {
            const petId = button.closest('.modal').dataset.petId;
            deleteQueue.delete(petId);
            location.reload();
        })
    );

    // Helper function to create hidden input
    function createHiddenInput(name, value) {
        const input = document.createElement('input');
        input.type = 'hidden';
        input.name = name;
        input.value = value;
        return input;
    }
});
</script>

{% endblock %}