{% extends 'base_login_register.html' %}
{% block page_title %} Register {% endblock %}

{% block content %}
{% load static %}

<body>
    <div class="form-header">
        <img src="{% static 'images/paw.png' %}" class="paw-icon">
        <h2 class="center">Create Account</h2>
    </div>

    <form method="post">
        {% csrf_token %}

        {% for field in form %}
            {% if field.name == "password" or field.name == "confirm_password" %}
                <div>
                    {{ field.label_tag }}
                    <div class="password-container">
                        {{ field }}
                        <i class="fas fa-eye toggle-password"></i>
                    </div>
                    {% if field.errors %}
                        <span class="validation-text">{{ field.errors.0 }}</span>
                    {% endif %}
                </div>
            {% else %}
                <div>
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.errors %}
                        <span class="validation-text">{{ field.errors.0 }}</span>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}

        {% if validation %}
            <span class="validation-text center">{{ validation }}</span>
        {% endif %}

        <div class="center">
            <input class="submit" type="submit" value="Sign up">
            <p>Already have an account? <a href="{% url 'login' %}">Log in</a></p>
        </div>
    </form>
</body>

<script>
    document.addEventListener("DOMContentLoaded", function() {
    document.querySelectorAll(".toggle-password").forEach(function(element) {
        element.addEventListener("click", function() {
            const passwordField = element.previousElementSibling;
                if (passwordField.type === "password") {
                    passwordField.type = "text";
                    element.classList.remove("fa-eye");
                    element.classList.add("fa-eye-slash");
                } else {
                    passwordField.type = "password";
                    element.classList.remove("fa-eye-slash");
                    element.classList.add("fa-eye");
                }
            });
        });
    });
</script>

{% endblock %}