{% extends 'base_login_register.html' %}
{% block page_title %} Register {% endblock %}

{% block content %}
{% load static %}

<body>
    <div class="form-header">
        <img src="{% static 'images/paw.png' %}" class="paw-icon">
        <h2 class="center">Create Account</h2>
    </div>

    <form method="post">
        {% csrf_token %}
            
        <label for="full_name">Full Name:</label>
            {{ form.full_name }}
            {% if form.full_name.errors %}
                <span class="validation-text">{{ form.full_name.errors.0 }}</span>
            {% endif %}

            <label for="email">Email:</label>
            {{ form.email }}
            {% if form.email.errors %}
                <span class="validation-text">{{ form.email.errors.0 }}</span>
            {% endif %}

            <label for="password">Password:</label>
            <div class="password-container">
                {{ form.password }}
                <i class="fas fa-eye toggle-password"></i>
            </div>
            {% if form.password.errors %}
                <span class="validation-text">{{ form.password.errors.0 }}</span>
            {% endif %}

            <label for="confirm_password">Confirm Password:</label>
            <div class="password-container">
                {{ form.confirm_password }}
                <i class="fas fa-eye toggle-password"></i>
            </div>
            {% if form.confirm_password.errors %}
                <span class="validation-text">{{ form.confirm_password.errors.0 }}</span>
            {% endif %}

            {% if validation %}
                <span class="validation-text">{{ validation }}</span>
            {% endif %}

            <div class="center">
                <input type="submit" value="Sign up">
            </div>

            <p class="center">
                Already have an account? <a href="{% url 'login' %}">Log in</a>
            </p>
        </form>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            document.querySelectorAll(".toggle-password").forEach(function(element) {
                element.addEventListener("click", function() {
                    const passwordField = element.previousElementSibling;
                    if (passwordField.type === "password") {
                        passwordField.type = "text";
                        element.classList.remove("fa-eye");
                        element.classList.add("fa-eye-slash");
                    } else {
                        passwordField.type = "password";
                        element.classList.remove("fa-eye-slash");
                        element.classList.add("fa-eye");
                    }
                });
            });
        });
    </script>
    
</body>

{% endblock %}